
<script src="//hangoutsapi.talkgadget.google.com/talkgadget/apps/gadgets/js/rpc.js"></script>
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<p><a href="http://developers.google.com/+/hangouts/getting-started">Read the docs</a>
    to learn more about developing Hangouts!</a></p>

<script>
    function addBackgroundReplacementEffect() {
        // add behavior to UI Controls
        alert("Hello");


    }
    function addBackgroundBlurEffect() {

    }


    // Kicks off app and attaches all listeners.
    function startApp() {
        addBackgroundReplacementEffect();
        addBackgroundBlurEffect();
    }


    function init() {
        gapi.hangout.onApiReady.add(
                function(eventObj) {
                    startApp();
                });
    }

</script>
